<h5>Hello</h5>
<span class="p-float-label">
  <input id="float-input" type="text" pInputText [(ngModel)]="value2" > 
  <label for="float-input">Username</label>
</span>


<p-table [value]="cars">
  <ng-template pTemplate="header">
      <tr>
          <th>Vin</th>
          <th>Year</th>
          <th>Brand</th>
          <th>Color</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-taocar>
      <tr>
          <td>{{taocar.vin}}</td>
          <td>{{taocar.year}}</td>
          <td>{{taocar.brand}}</td>
          <td>{{taocar.color}}</td>
      </tr>
  </ng-template>
</p-table>