<!-- AppCOmponent -->
<!-- Test Angular aapp
<br>
this is my title
<br>
{{title}}
<br>
My Resident's charecter is {{guest}}
<div>
  <button type="button" (click)="ResidentCha()"> Full Name</button>
  </div>
  <div>
  <button type="button" (click)="ChangeName('Chris')"> change name to Chris</button>
  <button type="button" (click)="ChangeName('Leon')"> change name to Leon</button>
  <button type="button" (click)="ChangeName('Ada')"> change name to Ada</button>
</div> -->
<!-- โปรแกรมคำนวณค่าใช้จ่าย -->
<span> มา 4 ท่าน จ่าย 3 ท่าน</span>
<div>
  <input 
    #priceBuffetInput 
    type="text" 
    placeholder="ราคาบุฟเฟ่ต์"
    (keydown.enter)="calBUffet(priceBuffetInput.value)"
    >
  <button (click)="calBUffet(priceBuffetInput.value)">
    คำนวณค่าใช้จ่าย
  </button>
</div>
<span>
  คนละ {{ value }} บาท
</span>