<!-- <div style="display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: nowrap;
            row-gap: 0.5em">
  <div>
    <input type="text" [(ngModel)]="employeeCode" required #employeeCodeNgModel="ngModel" pInputText
      placeholder="รหัส" />
    <p-message *ngIf="employeeCodeNgModel.invalid" severity="error" text="กรอกข้อมูลนี้ด้วย">
    </p-message>
  </div>
  <div>
    <input type="text" [(ngModel)]="employeeName" pInputText placeholder="ชื่อ" />
  </div>
  <div>
    <button [disabled]="employeeCodeNgModel.invalid" pButton type="button" label="บันทึก"></button>
  </div>
</div> -->
<div style="display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: nowrap;
            row-gap: 0.5em">
  <div class="col-12 md;col-6 lg;col-3">
    <input type="text" [formControl]="weightForm" class="w-full" pInputText placeholder="weight kg" />
    <p-message *ngIf="weightForm.invalid && weightForm.touched" severity="error" text="กรุณากรอกน้ำหนักด้วย"> </p-message>
  </div>
  <div class="col-12 md;col-6 lg;col-3">
    <input type="text" [formControl]="heightForm" class="w-full" pInputText placeholder="height m" />
    <p-message *ngIf="heightForm.invalid && heightForm.touched" severity="error" text="กรุณากรอกส่วนสูงด้วย"> </p-message>
  </div>
  <div class="col-12 md: col-6 lg: col-3">
    <button pButton type="button" [disabled]="weightForm.invalid || heightForm.invalid" (click)="calcualte()" label="Calculate BMI"></button>
    <!-- <span *ngIf="weightForm.invalid && weightForm.touched">กรุณากรอกน้ำหนักด้วย</span>
    <span *ngIf="heightForm.invalid && heightForm.touched">กรุณากรอกส่วนสูงด้วย</span> -->
  </div>
</div>
<div style="display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: nowrap;
            row-gap: 0.5em">
  <div class="col-12 md: col-6 lg: col-3">BMI : {{bmi}}</div>
</div>
<div style="display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: nowrap;
            row-gap: 0.5em">
  <div class="col-12 md: col-6 lg: col-3">INFO : {{info}}</div>
</div>